@{ 
    ViewBag.Title = "Home Page";
    Layout = "_Layout";
}
@section Scripts {
    <script src="~/lib/underscore/underscore-min.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="https://maps.google.com/maps/api/js?&key=AIzaSyCYLBrBy8pUUGzGo-lwbUnI6z4LMnQSUsc"></script>
    <script src="~/lib/gmaps/gmaps.min.js"></script>
    <script src="~/lib/travelmap/travelmap.min.js"></script>
    <environment names="Development">
        <script src="~/js/simpleControls.js"></script>
        <script src="~/js/app-trips.js"></script>
        <script src="~/js/tripsController.js"></script>
        <script src="~/js/organizationsController.js"></script>
        <script src="~/js/tripEditorController.js"></script>
        <script src="~/js/jobTitlesController.js"></script>
    </environment>

    <environment names="Production,Staging,Testing">
        <script src="~/lib/_app/simpleControls.js"></script>
        <script src="~/lib/_app/app-trips.js"></script>
        <script src="~/lib/_app/tripsController.js"></script>
        <script src="~/lib/_app/organizationsController.js"></script>
        <script src="~/lib/_app/tripEditorController.js"></script>
        <script src="~/lib/_app/jobTitlesController.js"></script>
    </environment>
}
<div class="row" ng-app="app-trips">

    <div ng-view></div>

</div>
