@{
    ViewBag.Title = "World View";
    Layout = "_Layout";
}
@section Scripts {
<link rel="stylesheet" href="~/css/d3style.css" />
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="~/js/worldView.js"></script>
}
<h1>The World</h1>